* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    animation: changeBg 10s infinite alternate linear;
}

    @keyframes changeBg{
        0% {
            background-color: #30444f;
        }
        25% {
            background-color: #5b8291;
        }
        50% {
            background-color: #9bdad8;
        }
        75% {
            background-color: #30444f;
        }
    100% {
        background-color: #5b8291;
    }
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
}

.text h1, p {
    color: white;
}

.calculator {
    background-color: #3a4452;
    padding: 20px;
    border-radius: 35px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 9px 15px -2px, rgba(0, 0, 0, 0.3) 0px 6px 10px -3px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.1),3px 3px 15px rgba(0,0, 0,0.2);
    background: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s;
}

.calculator form .hover input:hover {
    transform: scale(1.2);
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal {
    width: 145px;
}

form input.operator {
    color: #9bdad8;
}

@media screen and (max-width: 884px) {
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    .container .text {
        width: 50%;
    }

}

@media screen and (max-width: 500px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    .calculator {
        width: 75%;
        display: flex;
        justify-content: center;
        padding:20px;
    }

    .calculator form input {
        width: 25px;
        height: 25px;
        border-radius: 12px;
        font-size: 12px;
        padding: 18px;
        box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),2px 2px 15px rgba(0,0, 0,0.2);
    }

    form .display input {
        text-align: right;
        flex: 1;
        font-size: 30px;
        box-shadow: none;
    }   

    form input.equal {
        width: 110px;
    }

    
}